 body {
     background-color: #121212;
     color: #fff;
     /*overflow-x: hidden;*/
     position: relative;
 }

 h1 {
     color: #82b91d;
 }

 h2 {
     color: #07fd5d;
 }

 .text-indigo-500 {
     color: #1DB954;
 }

 .text-indigo-500:hover {
     color: #68D391;
 }
 body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}